/*logo*/
header{
    background-image: url(../img/pattern.png);
    background-color: rgb(113, 158, 216);
    margin: -8px;
    height: 150px;
    
}
#booleaner{
    width: 300px;
    margin-top: 50px;
    margin-left: 169px;
}
/*main*/
.centro{
    margin-left: 169px;
    margin-right: 132px;
}
.tittle{
    font-size: 50px;
}
.giorni{
    margin-bottom: 5px;
    margin-top: -29px;
}
.bool{
    color: rgb(51, 111, 190);
}
.wikimedia{
    margin-top: 0px;
}
.mark{
    background-color: gold;
}
/*table*/
table{
    text-align: left;
    border-collapse: collapse;
}
thead{
    background-color: rgb(0, 204, 255);
    color: white;
}
.table-color{
    background-color: rgb(144, 233, 255);
}
.terzo{
    width: 50%;
}
.bl{
    background-color: rgb(0, 204, 255);
}
/*footer*/
.monitor{
    background-image: url(../img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
}   
.graph{
    background-image: url(../img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
}
h2{
    color: white;
    padding: 15px;
}